.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
}

.card-container {
  height: 90vh;
  width: 50vw;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-family: 'roboto';
  color: #cb8805;
  font-size: 39px;
  font-weight: bold;
}
.faqs-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
